requests>=2.28.0
python-dotenv>=1.0.0
PyYAML>=6.0
websocket-client>=1.6.0
tzdata>=2024.1
plotly
pandas
mplfinance
matplotlib
eth-account
setuptools
streamlit
git+https://github.com/hyperliquid-dex/hyperliquid-python-sdk.git